# Database - Postgres
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/events_service
SPRING_DATASOURCE_USERNAME=username
SPRING_DATASOURCE_PASSWORD=password

# RabbitMQ
SPRING_RABBITMQ_HOST=localhost
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_USERNAME=guest
SPRING_RABBITMQ_PASSWORD=guest

# Outbox
OUTBOX_RELAY_DELAY_MS=1000